 
  <% unless @movements.empty? %>
    <% @movements.each do |movement| %>
      <p><%=t('.id') %> <%= movement.id %></p>
      <p><%=t('.name') %> : <%= movement.name %></p>
      <p><%=t('.value') %> : <%= movement.value %></p>
      <p><%=t('.date') %> : <%= movement.date %></p>
      <p><%=t('.type') %> <%= movement.movement_type %></p>
      <p><%=t('.account') %> : <%= movement.account_name %></p>
      <p><%=t('.category') %> : <%= movement.category_name %></p>

      <%= link_to t('.edit'), edit_movement_path(movement.id) %>
      <%= link_to t('.delete'), movement_path(movement.id), method: :delete %>

      <% if movement.installment_movement %>
        <%= link_to t('.edit_installment'), edit_installment_path(movement.installment_movement.id) %>
        <%= link_to t('.delete_installment'), installment_path(movement.installment_movement.id), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
