<%= form_with model: @account_type do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.submit 'Salvar' %>
<% end %>

<% if !@account_types.empty? %>
  <% @account_types.each do |type| %>
    <p>
      <%= type.name %>
      <%= link_to 'Editar', edit_account_type_path(type.id) %>
      <%= link_to 'Deletar', account_type_path(type.id), method: :delete %>
    </p>
  <% end %>
<% end %>