<%= form_with model: @account, local: true do |f| %>
  <%= f.label :name, t('.name') %>
  <%= f.text_field :name %>
  <%= f.label :initial_value, t('.opening_balance')%>
  <%= f.number_field :initial_value, step: 0.01 %>
  <%= f.label :active, t('.active') %>
  <%= f.check_box :active, class: 'check_box', checked_value: true %>
   <%= f.label :account_type_id, t('.account_type') %>
  <%= f.collection_select :account_type_id, @account_types, :id,:name, include_blank: true %>
   <%= f.label :expiration_type, t('.expiration_type') %>
  <%= f.select :expiration_type, options_for_select(@account.expiration_names) %>
  <%= f.submit t('.save') %>
<% end %>

<% unless @accounts.empty? %>
  <% @accounts.each do |account| %>
    <p> <%= t('.name') %> <%= account.name %> </p>
    <p> <%= t('.active') %> <%= account.active %> </p>
    <p> <%= t('.opening_balance') %> <%= account.initial_value %> </p>
    <p> <%= t('.account_type') %> <%= account.account_type_name %> </p>
    <p> <%= t('.expiration_type') %> <%= account.expiration_type %> </p>
      <%= link_to t('.edit'), edit_account_path(account.id) %>
      <%= link_to t('.delete') , account_path(account.id), method: :delete %>
    </p>
  <% end %>
<% end %> 